<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd" encoding="UTF-8">

<!--
CASTEP Pseudopotential Library Browser
by Simone Sturniolo

A webpage allowing to browse data about the various pseudopotential libraries defined within the CASTEP software.
A CCP-NC project funded by STFC and EPSRC.

Copyright 2016 Science and Technology Facilities Council
This program is distributed under the terms of the GNU General Public License (GNU GPL)
Please refer to the file COPYING for the text of the license
-->

<!-- This page provides a general index in the form of a periodic table -->

<html>
    <head>

        <title>The CASTEP pseudopotential library</title>

        <!-- CSS stylesheets -->
        <link href="stylesheet.css" rel="stylesheet">

        <!-- JS Libraries -->
        <script src="lib/jquery/jquery-3.4.1.min.js"></script>
        <script src="lib/vue.min.js"></script>

        <!-- Source code files -->
        <script src="js/periodic.js"></script>
        <script src="js/url_params.js"></script>

        <meta name="description" content="A website containing descriptions and data on pseudopotentials for CASTEP ab-initio electronic structure calculations" />
        <meta name="keywords" content="CASTEP, DFT, pseudopotential, quantum, quantum chemistry, ab-initio, electronic, periodic table" />
        <meta name="robots" content="index,follow" />

    </head>
    <body class="dark">

        <div class="title-bar">
            The CASTEP Pseudopotential Library
        </div>

        <div id="main-app" v-cloak>
            <div class="periodic_table">
                <div class="elem" v-for="e in ptable" v-if="e.subTable == 'Main'"
                v-bind:style="{'background-color': getGroupColor(e)[0],
                               'border-color': getGroupColor(e)[1],
                               'grid-row': e.rowI+1, 'grid-column': e.colI+1}" 
                v-on:click="select(e)">
                    <div class="elem-symbol">{{ e.symbol }}</div>
                    <div class="elem-name">{{ e.name }}</div>
                    <div class="elem-number">{{ e.atomicNumber }}</div>
                    <div class="elem-weight">{{ getMass(e) }}</div>
                </div>
            </div>

            <div class="lantact_table">
                <div class="elem" v-for="e in ptable" v-if="e.subTable == 'LantAct'"
                v-bind:style="{'background-color': getGroupColor(e)[0],
                               'border-color': getGroupColor(e)[1],
                               'grid-row': e.rowI+1, 'grid-column': e.colI+1}" 
                v-on:click="select(e)">
                    <div class="elem-symbol">{{ e.symbol }}</div>
                    <div class="elem-name">{{ e.name }}</div>
                    <div class="elem-number">{{ e.atomicNumber }}</div>
                    <div class="elem-weight">{{ getMass(e) }}</div>
                </div>
            </div>

            <div class="info-box" v-bind:style="{'border-color': '#' + ptable[selected].cpkHexColor}">
                <span class="info-name">{{ptable[selected].name}}</span>
                <div>
                    <div class="info_main">
                        <b>Symbol:</b> <span class="info_symbol">{{ ptable[selected].symbol }}</span><br>
                        <b>Group:</b> <span class="info_group">{{ ptable[selected].groupBlock }}</span><br>
                        <b>Electronic config.:</b> <span class="info_elstate"> {{ ptable[selected].electronicConfiguration }}</span><br>
                        <b>Bond type:</b> <span class="info_bond"> {{ ptable[selected].bondingType }} </span><br>                
                    </div>
                    <div id="info_pspot">
                        <b>Default:</b><br>
                        <span id="info_pspot_default" v-if="pspot[selected] && pspot[selected].deflib">{{ pspot[selected].deflib || '' }}</span>
                        <span id="info_pspot_nodefault" class="not_found" v-else>No default found.</span>
                        <br>
                        <br>
                        <div class="pspot_list_show divbutton" v-on:click="tableShow()">Show all</div>
                    </div>
                    <div id="info_nopspot" class="not_found" v-if="!pspot[selected]">
                        No pseudopotential files available for this element.
                    </div>
                </div>  
                <div class="info-box-footer">
                    <p>
                        Site developed by Simone Sturniolo for <a href="https://www.ccpnc.ac.uk" target="_blank">CCP-NC</a>
                    </p>
                    <p>
                        Makes use of <a href="https://vuejs.org" target="_blank">Vue.js</a>
                    </p>
                </div>
                <a class="help_link" href="help.html">
                [?]
                </a>
            </div>

            <div class="dark-screen" v-if="show_table" v-cloak>
                <div class="white-box" onclick="(function(e) {e.stopPropagation();})(event)">
                    <table class="pspot-list-table">
                        <thead>
                            <tr><td>Pseudopotential name</td><td>Description</td><td>Cutoff (eV, FINE quality)</td><td>XC functional</td></tr>
                        </thead>
                        <tbody>                     
                            <tr v-for="(pp, lib) in pspot[selected]" v-if="lib != 'deflib'">
                                <td><a v-bind:href="makeUrl('pspot.html', {'lib': lib, 'el': selected})">{{ lib }}</a></td><td> {{ pspot.descriptions[lib] }} </td>
                                <td>{{ pp.cutoffs['FINE'] }}</td><td> {{ pp.xc }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="close-button" v-on:click="tableHide()">X</div>
                </div>
            </div>

        </div>

        <script type="text/javascript">

            $(document).ready(function() {
                initPeriodicTable('#main-app');
            });

        </script>
    </body>
</html>