body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;

    overflow-y: hidden;
}

body.dark {
    background-color: #666666;
}

body.light {
    background-color: #dddddd;
}

a {
    font-weight: bold;
    text-decoration: none;    
}

a:link {
    color: #4466dd;
}

a:visited {
    color: #2244bb;
}

a:hover {
    text-decoration: underline;
}

dl.inline dd {
  display: inline;
  margin: 0;
}

dl.inline dd:after{
  display: block;
  content: '';
}

dl.inline dt{
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
}

.periodic_table {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 72%;
    height: 63%;

    background-color: transparent;
}

.lantact_table {
    position: absolute;
    top: 77%;
    left: 5%;
    width: 52%;
    height: 18%;

    background-color: transparent;
}

.table {
    display: table;
    table-layout: fixed;
}

.row {
    display: table-row;
}

.cell {
    position: relative;
    display: table-cell;
}

.elem_mendv {

    position: absolute;

    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;

    color: #000000;
    background-color: rgba(240, 240, 255, 0.6);
    font-family: sans-serif;
    cursor: pointer;

    text-align: center;
}

.elem_mendv:hover {
    background-color: rgba(240, 240, 255, 0.9);    
}

.elem_symbol {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 45%;

    font-size: 10px;
    font-weight: bold;
}

.elem_name {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 25%;
    font-family: serif;

    font-size: 10px;
}

.elem_number {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 45%;
    height: 25%;
    text-align: left;

    font-size: 10px;
}

.elem_weight {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 45%;
    height: 25%;

    font-size: 10px;
}

.info_box {

    position: absolute;

    top: 10%;
    right: 2%;
    width: 18%;
    height: 80%;

    background-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-width: 5pt;
    border-color: #000000;
}

.info_box .info_name {

    position: relative;

    text-align: center;
    margin: 15px;

    font-size: 30pt;
    font-weight: bold;

}

.info_box .info_main {

    text-align: left;
    margin: 15px;
}

.info_box .info_pspot, .info_box .info_nopspot {

    text-align: left;
    margin: 15px;
}

.info_box .info_nopspot {
    color: #bb0000;
}

.divbutton {
    position: relative;

    left: 25%;
    width: 50%;

    text-align: center;

    background-color: #999999;
    border: 1px solid #dddddd;
    padding: 3px;
    cursor: pointer;
}

.divbutton:hover {
    background-color: #dddddd;
}

.dark_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);

    visibility: hidden;
}

.white_box {
    position: fixed;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    z-index: 2;

    background-color: #ffffff;
    overflow-y: scroll;

}

.pspot_list_table {
    position: absolute;

    top: 5%;
    left: 5%;
    width: 90%;

    border-collapse: collapse;

}

.pspot_list_table thead {
    font-weight: bold;
}

.pspot_list_table td {
    height: 20pt;
    font-size: 15pt;

    text-align: center;
    vertical-align: middle;

    border-style: solid;

}

.pspot_main_plot {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#pspot_plot_png {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}

#pspot_plot_svg {
    display: none;
    width: 90%;
    height: 90%;
    background-color: #dd44dd;
}

.pspot_plotbox {
    position: absolute;
    width: 60%;
    height: 100%;
    display: table-cell;

    background-color: #cccccc;
}

.pspot_infobox {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 20pt;
    left: 60%;

    background-color: #eeeeee;

    overflow-y: auto;
}

.pspot_plotbox > * {
    vertical-align: middle;
}

.pspot_infobox .info_header {

    text-align: center;
    margin: 20px;

    font-weight: bold;
    font-size: 30pt;
}

.pspot_infobox .info_element {

    font-weight: bold;
    font-size: 40pt;

}

.pspot_infobox .info_name {

    font-weight: bold;
    font-size: 30pt;

}

.pspot_infobox .info_libchoose {
    font-weight: bold;
    text-align: center;

    margin: 20px;
}

.pspot_infobox .info_main {

    font-size: 14pt;
    margin: 20px;
}

.info_main dl {
    font-size: 13pt;
}

.info_main table {
    text-align: center;
    vertical-align: middle;

    border: solid 2px #000000;
    border-collapse: collapse;

    margin: 5pt;
}

.info_main td {
    padding: 5pt;
    border: solid 1px #333333;
}

.info_main li {
    padding: 5pt;
}

.info_main .tr_header {
    font-weight: bold;
}

.info_main .li_header {
    font-weight: bold;
}

.back_button {

    display: block;

    position: absolute;
    height: 20pt;
    width: 40%;
    left: 60%;
    bottom: 0;

    font-weight: bold;
    font-size: 16pt;

    text-align: center;

    cursor: pointer;

    background-color: #cccccc;
}

.back_button:hover {
    background-color: #dddddd;
    text-decoration: none;
}

.file_link {
    font-weight: normal;
    font-size: 14pt;
    cursor: pointer;
}

.file_link:hover {
    text-decoration: underline;
}

.line_basic {
    stroke: #000000;
    stroke-width: 1px;
    fill: none;
}

.note {
    font-size: 12pt;
}

.legend_col_1 {
    color: #ee0000;
}

.legend_col_2 {
    color: #0000ee;
}

.legend_col_3 {
    color: #00cc66;
}

.legend_col_4 {
    color: #ddbb00;
}

.legend_col_5 {
    color: #00bbdd;
}

.legend_col_6 {
    color: #dd00bb;
}

.legend_col_7 {
    color: #ddbb00;
}

.legend_col_8 {
    color: #66ddee;
}

.legend_col_9 {
    color: #777777;
}