/* General styling */
body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;

    font-size: 14pt;

    overflow-y: hidden;
}

body.dark {
    background-color: #666666;
}

body.light {
    background-color: #dddddd;
}

[v-cloak] {
    display: none;
}

a {
    font-weight: bold;
    text-decoration: none;  
}

a:link {
    color: #4466dd;
}

a:visited {
    color: #2244bb;
}

a:hover {
    text-decoration: underline;
}

/* List styles for pspot.html */
dl.inline dd {
  display: inline;
  margin: 0;
}

dl.inline dd:after{
  display: block;
  content: '';
}

dl.inline dt{
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
}

/* Periodic table */
.periodic_table {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 72%;
    height: 63%;

    background-color: transparent;

    /* Grid templating */
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.lantact_table {
    position: absolute;
    top: 77%;
    left: 5%;
    width: 52%;
    height: 18%;

    background-color: transparent;

    /* Grid templating */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(14, 1fr);
}

.elem {
    position: relative;

    color: #000000;
    border: 2px solid black;
    background-color: rgba(240, 240, 255, 0.6);
    font-family: sans-serif;
    cursor: pointer;    

    text-align: center;
}

.elem:hover {
    filter: brightness(125%);
}

.elem-symbol {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 45%;

    font-size: 1.2em;
    font-weight: bold;
}

.elem-name {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 25%;
    font-family: serif;

    font-size: 0.7em;
}

@media (max-width: 1200px) 
{
    .elem-name {
        display: none;
    }
}

.elem-number {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 45%;
    height: 25%;
    text-align: left;

    font-size: 0.6em;
}

.elem-weight {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 45%;
    height: 25%;
    text-align: right;

    font-size: 0.6em;
}


.table {
    display: table;
    table-layout: fixed;
}

.row {
    display: table-row;
}

.cell {
    position: relative;
    display: table-cell;
}



.info_box {

    position: absolute;

    top: 10%;
    right: 2%;
    width: 16%;
    height: 80%;

    background-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-width: 5pt;
    border-color: #000000;

    padding: 1%;
}

.info_box .info-name {

    position: relative;

    text-align: center;
    margin: 15px;

    font-weight: bold;
    font-size: 1.5em;

}

.info_box .info_main {

    text-align: left;
    margin: 15px;
}

.info_box #info_pspot, .info_box #info_nopspot, .info_box #info_pspot_nodefault {

    text-align: left;
    margin: 15px;
}

.info_box .not_found {
    color: #bb0000;
}

.help_link {

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 5pt;

    font-weight: bold;
    font-size: 25pt;
    text-align: right;

}

.divbutton {
    position: relative;

    left: 25%;
    width: 50%;

    text-align: center;

    background-color: #999999;
    border: 1px solid #dddddd;
    padding: 3px;
    cursor: pointer;
}

.divbutton:hover {
    background-color: #dddddd;
}

.dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.5);
}

.white-box {
    position: fixed;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    z-index: 2;

    background-color: #ffffff;
    overflow-y: scroll;

}

.pspot-list-table {
    position: absolute;

    top: 5%;
    left: 5%;
    width: 90%;

    border-collapse: collapse;

}

.pspot-list-table thead {
    font-weight: bold;
}

.pspot-list-table td {
    height: 20pt;
    font-size: 15pt;

    text-align: center;
    vertical-align: middle;

    border-style: solid;

}

.close-button {
    cursor: pointer;
    font-weight: bold;
    color: #0022ee;
    font-size: 1.3em;
    margin: 5px;
    position: absolute;
    right: 0;
}

.pspot_main_plot {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#pspot_plot_png {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}

#pspot_plot_svg {
    display: none;
    width: 90%;
    height: 90%;
    background-color: #dd44dd;
}

.pspot_plotbox {
    position: absolute;
    width: 60%;
    height: 100%;
    display: table-cell;

    background-color: #cccccc;
}

.pspot_infobox {
    position: absolute;
    width: 40%;
    top: 0;
    bottom: 20pt;
    left: 60%;

    background-color: #eeeeee;

    overflow-y: auto;
}

.pspot_plotbox > * {
    vertical-align: middle;
}

.pspot_infobox .info_header {

    text-align: center;
    margin: 20px;

    font-weight: bold;
    font-size: 30pt;
}

.pspot_infobox .help_link {
    top: 0;
    bottom: auto;
}

.pspot_infobox .info-element {

    font-weight: bold;
    font-size: 1.3em;

}

.pspot_infobox .info-name {

    font-weight: bold;
    font-size: 1em;

}

.pspot_infobox .info_libchoose {
    font-weight: bold;
    text-align: center;

    margin: 20px;
}

.pspot_infobox .info_main {

    font-size: 14pt;
    margin: 20px;
}

.info_main dl {
    font-size: 13pt;
}

.info_main table {
    text-align: center;
    vertical-align: middle;

    border: solid 2px #000000;
    border-collapse: collapse;

    margin: 5pt;
}

.info_main td {
    padding: 5pt;
    border: solid 1px #333333;
}

.info_main li {
    padding: 5pt;
}

.info_main .tr_header {
    font-weight: bold;
}

.info_main .li_header {
    font-weight: bold;
}

.back_button {

    display: block;

    position: absolute;
    height: 20pt;
    width: 40%;
    left: 60%;
    bottom: 0;

    font-weight: bold;
    font-size: 16pt;

    text-align: center;

    cursor: pointer;

    background-color: #cccccc;
}

.back_button:hover {
    background-color: #dddddd;
    text-decoration: none;
}

.file_link {
    font-weight: normal;
    font-size: 14pt;
    cursor: pointer;
}

.file_link:hover {
    text-decoration: underline;
}

.line_basic {
    stroke: #000000;
    stroke-width: 1px;
    fill: none;
}

.note {
    font-size: 12pt;
}

.legend_col_1 {
    color: #ee0000;
}

.legend_col_2 {
    color: #0000ee;
}

.legend_col_3 {
    color: #00cc66;
}

.legend_col_4 {
    color: #ddbb00;
}

.legend_col_5 {
    color: #00bbdd;
}

.legend_col_6 {
    color: #dd00bb;
}

.legend_col_7 {
    color: #ddbb00;
}

.legend_col_8 {
    color: #66ddee;
}

.legend_col_9 {
    color: #777777;
}